@import '../../shared';

.list {
  width: min-content;

  &__item {
    width: min-content;
    display: flex;
    border-top: 1px solid black;

    &:first-child {
      border-top: none;
    }
  }
}
