@import '../../shared';

.list {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: $secondary-color;

  &__all-items {
    width: min-content;
  }

  &__item {
    width: min-content;
    display: flex;
    border-top: 1px solid $tertiary-color;

    &:first-child {
      border-top: none;
    }
  }

  &__item-inner {
    display: flex;
    height: 48px;
    align-items: center;

    & > * {
      margin-right: $ssmall-space;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
