@import '../../shared';

.leaderboard {
  display: flex;
  flex-direction: column;

  &__back {
    align-self: flex-end;
    font-weight: bold;
    color: #297373;

    &:visited {
      color: #297373;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    margin: $xlarge-space 0 $xsmall-space;
    color: #39393a;
  }

  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $secondary-color;
  }
}
