@import '../../shared';

.leaderboard {
  display: flex;
  flex-direction: column;

  &__back {
    @include link;
  }

  &__title {
    @include heading;
  }

  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $secondary-color;
  }
}
