@import '../../shared';

.leaderboard {
  display: flex;
  flex-direction: column;

  &__back {
    align-self: flex-end;
    font-weight: bold;
    color: $primary-color;

    &:visited {
      color: $primary-color;
    }
  }

  &__title {
    @include heading;
  }

  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $secondary-color;
  }
}
