@import '../../shared';

.user {
    display: flex;
    align-items: center;
    height: 40px;

    &__name {
        margin-right: $small-space;
        font-weight: bold;
    }

    &__cta {
        font-size: 14px;
        font-weight: bold;
        padding: $small-space;
        text-transform: uppercase;
        border-radius: $small-space;
        color: $secondary-color;
        background-color: transparent;

        &--login {
            border: 2px solid $positive-color;
        }

        &--logout {
            border: 2px solid $negative-color;
        }
    }
}
