@import '../../shared';

.played-game-recap {
  &__id {
    width: 40px;
    font-weight: bold;
  }

  &__time {
    width: 185px;
    color: $primary-color;
    font-weight: bold;
    white-space: nowrap;
  }

  &__points {
    width: 70px;
    text-decoration: underline;
  }
}
