@import '../../shared';

.quiz {
  display: flex;
  flex-direction: column;

  &__back {
    align-self: flex-end;
    font-weight: bold;
    color: $primary-color;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 16px;

    &:visited {
      color: $primary-color;
    }
  }
}

.quit-quiz {
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: $medium-space;
  }

  &__action {
    padding: $small-space;
    text-transform: uppercase;
    background-color: $negative-color;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
  }
}
