@import "../../shared";

.played-games-recap {
  border-top: 3px solid $negative-color;
  padding-top: $large-space;

  &__title {
    @include heading;
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 0 $medium-space;
    text-align: center;
    background-color: $secondary-color;
  }
}
