@import "../../shared";

.user-stats {
  display: flex;
  height: 48px;
  align-items: center;

  &__you {
    width: 45px;
    margin-right: 5px;
    border: 2px solid $negative-color;
    padding: $ssmall-space;
    border-radius: 16px;
    font-weight: bold;
    color: $negative-color;

    &:empty {
      border: none;
    }
  }

  &__rank {
    width: 45px;
    margin-right: 5px;
  }

  &__name {
    width: 120px;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__points {
    width: 75px;
  }
}
