@import "../../shared";

.game-question {
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $large-space;
  }

  &__snippet {
    margin-bottom: $medium-space;
    font-style: italic;
    font-size: 20px;
  }

  &__choises {
    display: flex;
    align-items: stretch;
  }

  &__choise {
    flex: 0 0 33.3%;
    border-left: 2px solid black;

    &:first-child {
      border-left: none;
    }
  }

  &__bottom {
    display: flex;

    & > * {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: $small-space 0;
      border-right: 2px solid $tertiary-color;

      &:first-child > div {
        margin-right: auto;
      }

      &:last-child {
        border-right: none;

        & > div {
          margin-left: auto;
        }
      }
    }
  }
}
