@import "../../shared";

.game-question {
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 160px;
  }

  &__snippet {
    margin-bottom: $medium-space;
    font-style: italic;
    font-size: 20px;
  }

  &__choises {
    display: flex;
    align-items: stretch;
  }

  &__choise {
    flex: 0 0 33.3%;
    border-left: 2px solid black;

    &:first-child {
      border-left: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: $small-space 0;
      font-weight: bold;
      white-space: nowrap;

      &:first-child > div {
        margin-right: auto;
      }

      &:nth-child(2) {
        order: 1;
        flex-basis: 100%;
      }

      &:last-child > div {
        margin-left: auto;
      }
    }
  }
}
