@import '../../shared';

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid $negative-color;
  padding: $medium-space;
  margin-bottom: $xlarge-space;
  background-color: $tertiary-color;
  box-shadow: 0 8px 12px -8px $negative-color;
  color: white;

  &__title {
    font-size: 24px;
    font-weight: bold;
  }
}
