@import '../../shared';

.dashboard {
  &__title {
    @include heading;
  }

  &__actions {
    display: flex;
    margin: $large-space 0;
  }

  &__action {
    text-decoration: none;
    padding: $small-space;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;

    &--play {
      background-color: $negative-color;
      border: 3px solid $tertiary-color;
      margin-right: $medium-space;
      color: white;

      &.disabled {
        pointer-events: none;
        background-color: #{$negative-color}30;
        border-color: #{$tertiary-color}30;
      }
    }

    &--leaderboard {
      background-color: $positive-color;
      border: 3px solid $primary-color;
    }
  }
}
