@import '../../shared';

.footer {
  padding: $xsmall-space $medium-space $medium-space $medium-space;
  background-color: $primary-color;
  border-top: $small-space solid $tertiary-color;
  margin-top: $xxxlarge-space;
  color: white;

  &__wrapper {
    @include wrapper;
  }

  &__notice {
    font-size: 14px;

    & > * {
      display: block;
      margin-bottom: $ssmall-space;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__name {
    font-weight: bold;
  }
}
