@import "../../shared";

.user-modal {
    display: flex;
    flex-direction: column;
    min-width: 280px;

    &__label {
        display: flex;
        flex-direction: column;
        margin-bottom: $large-space;
    }

    &__input {
        margin-top: $small-space;
        height: 32px;
        border: 3px solid $primary-color;
        border-radius: 8px;
    }

    &__cta {
        padding: $small-space;
        text-transform: uppercase;
        background-color: $negative-color;
        border-radius: 4px;
        color: white;
        font-weight: bold;
        border: none;
    }
}
