// Colors
$primary-color: #297373;
$secondary-color: #e6e6e6;
$tertiary-color: #39393a;
$positive-color: #85ffc7;
$negative-color: #ff8552;

// Spaces
$ssmall-space: 4px;
$small-space: 8px;
$xsmall-space: 12px;
$medium-space: 16px;
$large-space: 24px;
$xlarge-space: 32px;
$xxlarge-space: 48px;
$xxxlarge-space: 64px;

// Mixins
@mixin heading {
  font-weight: bold;
  font-size: 20px;
  margin: $medium-space 0;
  color: $tertiary-color;
}
