// Colors
$primary-color: #297373;
$secondary-color: #E6E6E6;
$tertiary-color: #39393A;
$positive-color: #85FFC7;
$negative-color: #FF8552;

// Spaces
$ssmall-space: 4px;
$small-space: 8px;
$xsmall-space: 12px;
$medium-space: 16px;
$large-space: 24px;
$xlarge-space: 32px;
$xxlarge-space: 48px;
